# Generally ignorable files.
*.[oa]
*~
*.l[oa]
*.vect
*.bak
*.bck
*.gcda
*.gcno
*.moc.cc
.DS_Store
*.pb.cc
*.pb.h
*.pyc
*.match
*.log
*.trs
*#
/.vimrc.local
/.project.root
/vw.tags
/tags
/build
/INSTALL
/*.trace
/.gcno.stamp
/.gcda.stamp

# Data Directories (you'll have to use force to actually add something in there)
/data/MER/*
/data/MOC/*
/data/K10/*
/data/CTX/*
/data/HiRISE/*

# Autotools Stuff
Makefile
Makefile.in
.deps
/aclocal.m4
/autom4te.cache
/config/ar.sh
/config.cache
/config/compile
/config/config.guess
/config/config.sub
/config/depcomp
/config/install-sh
/config.log
/config/ltmain.sh
/config/missing
/config/mkinstalldirs
/config.options
/config/py-compile
/config.status
/configure
/src/asp/asp_config.h
/src/asp/asp_config.h.pre
/src/asp/asp_config.h.pre.in
/src/asp/stamp-h1

# Libtool Stuff
.libs
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/libtool

# Core
src/asp/Core/tests/TestAntiAliasing
src/asp/Core/tests/TestBlobIndexThreaded
src/asp/Core/tests/TestErodeView
src/asp/Core/tests/TestGaussianClustering
src/asp/Core/tests/TestIntegralAutoGainDetector
src/asp/Core/tests/TestInterestPointMatching
src/asp/Core/tests/TestSoftwareRenderer
src/asp/Core/tests/TestThreadedEdgeMask

# Camera
src/asp/Camera/tests/TestDGCameraModel
src/asp/Camera/tests/TestRPCStereoModel
src/asp/Camera/tests/TestSpotCameraModel

# IsisIO
src/asp/IsisIO/tests/TestEphemerisEquations
src/asp/IsisIO/tests/TestIsisAdjustCameraModel
src/asp/IsisIO/tests/TestIsisCameraModel

# Sessions
src/asp/Sessions/tests/TestInstantiation
src/asp/Sessions/tests/TestStereoSessionDG
src/asp/Sessions/tests/TestStereoSessionDGMapRPC
src/asp/Sessions/tests/TestStereoSessionRPC

src/asp/WVCorrect/disp_avg

# Tools
src/asp/MPI/isis_mpi_adjust
src/asp/Tools/*.py
src/asp/Tools/asp_calc
src/asp/Tools/aster2asp
src/asp/Tools/aligndem
src/asp/Tools/bundle_adjust
src/asp/Tools/bundlevis
src/asp/Tools/camera_calibrate
src/asp/Tools/camera_solve
src/asp/Tools/datum_convert
src/asp/Tools/dem_adjust
src/asp/Tools/dem_geoid
src/asp/Tools/dem_mosaic
src/asp/Tools/dem_profile
src/asp/Tools/dg_mosaic
src/asp/Tools/disparitydebug
src/asp/Tools/extract_camera_positions
src/asp/Tools/geodiff
src/asp/Tools/hsv_merge
src/asp/Tools/icebridge_kmz_to_csv
src/asp/Tools/image_calc
src/asp/Tools/isis_adjust
src/asp/Tools/isis_adjust_camera_err
src/asp/Tools/isis_adjust_cnet_clip
src/asp/Tools/lronacjitreg
src/asp/Tools/lvis2kml
src/asp/Tools/mapproject
src/asp/Tools/mapproject_single
src/asp/Tools/mer2camera
src/asp/Tools/opencv_calibrate
src/asp/Tools/opencv_imagelist_creator
src/asp/Tools/orbitviz
src/asp/Tools/orthoproject
src/asp/Tools/pansharp
src/asp/Tools/parallel_stereo
src/asp/Tools/pc_align
src/asp/Tools/pc_merge
src/asp/Tools/plateorthoproject
src/asp/Tools/point2dem
src/asp/Tools/point2las
src/asp/Tools/point2mesh
src/asp/Tools/reconstruct
src/asp/Tools/results
src/asp/Tools/rmax2cahvor
src/asp/Tools/rmax_adjust
src/asp/Tools/rpc_gen
src/asp/Tools/rpc_mapproject
src/asp/Tools/sfs
src/asp/Tools/sparse_disp
src/asp/Tools/stereo
src/asp/Tools/stereo_corr
src/asp/Tools/stereo_corr_sub
src/asp/Tools/stereo_fltr
src/asp/Tools/stereo_gui
src/asp/Tools/stereo_mpi
src/asp/Tools/stereo_parse
src/asp/Tools/stereo_pprc
src/asp/Tools/stereo_rfne
src/asp/Tools/stereo_tri
src/asp/Tools/tif_mosaic
src/asp/Tools/time_trials
src/asp/Tools/wv_correct

# Doc
docs/book/*aux
docs/book/*bbl
docs/book/*blg
docs/book/*log
docs/book/*old
docs/book/*out
docs/book/*pdf
docs/book/*toc
docs/book/asp_book.tex
docs/book/graph/*pdf
docs/photometry/*aux
docs/photometry/*log
docs/photometry/*out
docs/photometry/*pdf
docs/photometry/*toc
docs/photometry/graph/*pdf
/.project
