# This is an example VW configuration file. Save this file to ~/.vwrc
# to adjust the VW log settings, even if the program is already running.

# General settings
[general]
default_num_threads = 16
write_pool_size = 40
system_cache_size = 1024000000 # ~ 1 GB

# The following integers are associated with the log levels throughout the 
# Vision Workbench.  Use these in the log rules below. 
#
#    ErrorMessage = 0
#    WarningMessage = 10
#    InfoMessage = 20
#    DebugMessage = 30
#    VerboseDebugMessage = 40
#    EveryMessage = 100
#
# You can create a new log file or adjust the settings 
# for the console log:
#   logfile <filename> 
#       - or -
#   logfile console

# Once you have created a logfile (or selected the console), you can
# add log rules using the following syntax. (Note that you can use
# wildcard characters '*' to catch all log_levels for a given
# log_namespace, or vice versa.)

# <log_level> <log_namespace>

# Below are examples of using the log settings.

# Turn on various logging levels for several subsystems, with the
# output going to the console (standard output).
[logfile console]
# Turn on error and warning messages for the thread subsystem.
10 = thread
# Turn on error, warning, and info messages for the asp subsystem.
20 = asp
# Turn on error, warning, info, and debug messages for the stereo subsystem.
30 = stereo
# Turn on every single message for the cache subsystem (this will be 
# extremely verbose and is not recommended).
# 100 = cache
# Turn off all progress bars to the console (not recommended).
# 0 = *.progress

# Turn on logging of error and warning messages to a file for the
# stereo subsystem. Warning: This file will be always appended to, so
# it should be deleted periodically.
# [logfile /tmp/vw_log.txt]
# 10 = stereo
