name: build_test_mac_x64
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-15-intel
    steps:
    - uses: actions/checkout@v3
    - name: build_test
      # Build and test ASP
      run: ./.github/workflows/build_test.sh
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
         # This must be in sync with BinaryBuilder/auto_build
         name: StereoPipeline-Artifact-build_test_mac_x64
         path: ~/work/StereoPipeline/packages
         retention-days: 2
      continue-on-error: true
